#  선형 리스트

# 트와이스 예시

In [3]:
katok=["다현","정연","쯔위","사나","지효"]
katok.append(None)
katok[5]="모모"
print(katok)

['다현', '정연', '쯔위', '사나', '지효', '모모']

### 데이터 중간 추가

In [4]:
katok.append(None)
katok[6]=katok[5]
katok[5]=None
katok[5]=katok[4]
katok[4]=None
katok[4]=katok[3]
katok[3]=None
print(katok)

['다현', '정연', '쯔위', None, '사나', '지효', '모모']

In [5]:
katok[3]="미나"
print(katok)

['다현', '정연', '쯔위', '미나', '사나', '지효', '모모']

### 데이터 중간 삭제

In [6]:
katok[4]=None
katok[4]=katok[5]
katok[5]=None
katok[5]=katok[6]
katok[6]=None
del(katok[6])
print(katok)

['다현', '정연', '쯔위', '미나', '지효', '모모']

### 배열을 이용한 선형 리스트 생성 함수

In [30]:
katok=[]
def add_data(friend):
    katok.append(None)
    kLen=len(katok)
    katok[kLen-1]=friend
    
add_data("다현")
add_data("정연")
add_data("쯔위")
add_data("사나")
add_data("지효")
print(katok)

['다현', '정연', '쯔위', '사나', '지효']

### 데이터 중간 삽입

In [31]:
def insert_data(position,friend):
    if position<0 or position>len(katok):
        print("데이터를 삽입할 범위를 벗어났습니다")
        return
    
    
    katok.append(None)
    kLen=len(katok)
    for i in range(kLen-1,position,-1):
        katok[i]=katok[i-1]
        katok[i-1]=None
    
    katok[position]=friend

In [32]:
insert_data(2,"솔라")
print(katok)

['다현', '정연', '솔라', '쯔위', '사나', '지효']

In [33]:
insert_data(6,"문별")
print(katok)

['다현', '정연', '솔라', '쯔위', '사나', '지효', '문별']

### 데이터 중간 삭제

In [34]:
katok=[]
def add_data(friend):
    katok.append(None)
    kLen=len(katok)
    katok[kLen-1]=friend
    
add_data("다현")
add_data("정연")
add_data("쯔위")
add_data("사나")
add_data("지효")
print(katok)

['다현', '정연', '쯔위', '사나', '지효']

In [35]:
def delete_data(position):
    if position<0 or position>len(katok)-1:
        print("데이터를 삭제할 범위를 벗어났습니다")
        return
    
    kLen=len(katok)
    katok[position]=None
    for i in range(position+1,kLen):
        katok[i-1]=katok[i]
        katok[i]=None
        
    del(katok[kLen-1])

In [36]:
delete_data(1)
print(katok)

['다현', '쯔위', '사나', '지효']

In [37]:
delete_data(3)
print(katok)

['다현', '쯔위', '사나']

### 기본 선형 리스트의 완성

In [41]:
katok=[]
select=-1

In [42]:
if __name__=="__main__":
    while (select!=4):
        select=int(input("선택하세요(1: 추가, 2: 삽입, 3: 삭제, 4:종료)--> "))
        if select==1:
            data=input("추가할 데이터-->")
            add_data(data)
            print(katok)
        elif select==2:
            pos=int(input("삽입할 위치-->"))
            data=input("삽입할 데이터-->")
            insert_data(pos,data)
            print(katok)
        elif select==3:
            pos=int(input("삭제할 위치-->"))
            delete_data(pos)
            print(katok)
        elif select==4:
            print(katok)
        else:
            print("1~4 중 하나를 입력하세요")

선택하세요(1: 추가, 2: 삽입, 3: 삭제, 4:종료)--> 1
추가할 데이터-->다현
['다현']
선택하세요(1: 추가, 2: 삽입, 3: 삭제, 4:종료)--> 1
추가할 데이터-->정연
['다현', '정연']
선택하세요(1: 추가, 2: 삽입, 3: 삭제, 4:종료)--> 1
추가할 데이터-->쯔위
['다현', '정연', '쯔위']
선택하세요(1: 추가, 2: 삽입, 3: 삭제, 4:종료)--> 2
삽입할 위치-->1
삽입할 데이터-->하나
['다현', '하나', '정연', '쯔위']
선택하세요(1: 추가, 2: 삽입, 3: 삭제, 4:종료)--> 2
삽입할 위치-->0
삽입할 데이터-->문별
['문별', '다현', '하나', '정연', '쯔위']
선택하세요(1: 추가, 2: 삽입, 3: 삭제, 4:종료)--> 3
삭제할 위치-->3
['문별', '다현', '하나', '쯔위']
선택하세요(1: 추가, 2: 삽입, 3: 삭제, 4:종료)--> 4
['문별', '다현', '하나', '쯔위']

## Polynomial example

In [48]:
def printpoly(p_x):
    term=len(p_x)-1
    polyStr="P(x)="
    for i in range(len(p_x)):
        coef=p_x[i]
        if coef>0:
            polyStr=polyStr+"+"+str(coef)+"x^"+str(term)+""
        elif coef<0:
            polyStr=polyStr+str(coef)+"x^"+str(term)+""
        term-=1
        
    return polyStr

In [49]:
p_x=[7,-4,0,5]
printpoly(p_x)

'P(x)=+7x^3-4x^2+5x^0'

In [50]:
def calcPoly(xVal,p_x):
    retVal=0
    term=len(p_x)-1
    for i in range(len(p_x)):
        coef=p_x[i]
        retVal+=coef*xVal**term
        term-=1
    return retVal

In [51]:
pStr=printpoly(p_x)
print(pStr)

P(x)=+7x^3-4x^2+5x^0

In [52]:
xValue=int(input("x값-->"))
pxValue=calcPoly(xValue,p_x)
print(pxValue)

x값-->2
45

## HW 1-solution1

In [54]:
katok=[]

In [55]:
def delete_data(position):
    if position<0 or position>len(katok)-1:
        print("데이터를 삭제할 범위를 벗어났습니다")
        return
    
    kLen=len(katok)
    katok[position]=None
    for i in range(position+1,kLen):
        katok[i-1]=katok[i]
        katok[i]=None
        
    del(katok[kLen-1])

In [56]:
def make_tuple(str):
    friend=""
    number=""
    for c in str:
        if c!="("and c!="'" and c!="''" and c!=""" and c!=""" and c!="," and c!=")" :
            if c.isalpha():
                friend+=c
            else:
                number+=c
        elif c==")":
            return (friend,int(number))

In [57]:
def save_friend():
    friend,freq=make_tuple(input("추가할 데이터-->"))
    lenK=len(katok)
    if lenK==0:
        katok.append((friend,freq))
        return
    for i in range(lenK):
        if freq>=katok[i][1]:
            katok.append(None)
            for j in range(lenK,i,-1):
                katok[j]=katok[j-1]
                katok[j-1]=None
            katok[i]=(friend,freq)
            return
    if i==lenK-1:
        katok.append(None)
        katok[lenK]=(friend,freq)
        return

In [58]:
select=-1
if __name__=="__main__":
    while (select!=3):
        select=int(input("선택하세요(1: 추가, 2: 삽입, 3: 삭제)--> "))
        if select==1:
            save_friend()
            print(katok)
        elif select==2:
            pos=int(input("삭제할 위치-->"))
            delete_data(pos)
            print(katok)
        elif select==3:
            print(katok)
        else:
            print("1~3 중 하나를 입력하세요")

선택하세요(1: 추가, 2: 삽입, 3: 삭제)--> 1
추가할 데이터-->('다현',200)
[('다현', 200)]
선택하세요(1: 추가, 2: 삽입, 3: 삭제)--> 1
추가할 데이터-->('정연',150)
[('다현', 200), ('정연', 150)]
선택하세요(1: 추가, 2: 삽입, 3: 삭제)--> 1
추가할 데이터-->('모모',170)
[('다현', 200), ('모모', 170), ('정연', 150)]
선택하세요(1: 추가, 2: 삽입, 3: 삭제)--> 2
삭제할 위치-->2
[('다현', 200), ('모모', 170)]
선택하세요(1: 추가, 2: 삽입, 3: 삭제)--> 2
삭제할 위치-->3
데이터를 삭제할 범위를 벗어났습니다
[('다현', 200), ('모모', 170)]
선택하세요(1: 추가, 2: 삽입, 3: 삭제)--> 3
[('다현', 200), ('모모', 170)]

## HW 1-solution2

In [59]:
katok=[]

In [60]:
def save_friend():
    friend=eval(input("추가할 데이터-->"))
    lenK=len(katok)
    if lenK==0:
        katok.append(friend)
        return
    for i in range(lenK):
        if friend[1]>=katok[i][1]:
            katok.append(None)
            for j in range(lenK,i,-1):
                katok[j]=katok[j-1]
                katok[j-1]=None
            katok[i]=friend
            return
    if i==lenK-1:
        katok.append(None)
        katok[lenK]=friend
        return

In [61]:
select=-1
if __name__=="__main__":
    while (select!=3):
        select=int(input("선택하세요(1: 추가, 2: 삽입, 3: 삭제)--> "))
        if select==1:
            save_friend()
            print(katok)
        elif select==2:
            pos=int(input("삭제할 위치-->"))
            delete_data(pos)
            print(katok)
        elif select==3:
            print(katok)
        else:
            print("1~3 중 하나를 입력하세요")

선택하세요(1: 추가, 2: 삽입, 3: 삭제)--> 1
추가할 데이터-->('다현',200)
[('다현', 200)]
선택하세요(1: 추가, 2: 삽입, 3: 삭제)--> 1
추가할 데이터-->('정연',150)
[('다현', 200), ('정연', 150)]
선택하세요(1: 추가, 2: 삽입, 3: 삭제)--> 1
추가할 데이터-->('모모',170)
[('다현', 200), ('모모', 170), ('정연', 150)]
선택하세요(1: 추가, 2: 삽입, 3: 삭제)--> 2
삭제할 위치-->2
[('다현', 200), ('모모', 170)]
선택하세요(1: 추가, 2: 삽입, 3: 삭제)--> 2
삭제할 위치-->3
데이터를 삭제할 범위를 벗어났습니다
[('다현', 200), ('모모', 170)]
선택하세요(1: 추가, 2: 삽입, 3: 삭제)--> 3
[('다현', 200), ('모모', 170)]